<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Agenda
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-card>
  <ion-card-header>
    <ion-card-title>Contact details </ion-card-title>
  </ion-card-header>
<!--content-->
  <ion-card-content>
  <ion-button> 
    <ion-icon name="add"></ion-icon>
  </ion-button>
  <ion-modal>
  
   </ion-modal>
   <ion-list>
    <ion-item *ngFor="let User of allParticipantsAdded">
      <ion-label >{{User.userLastName}}</ion-label>
      <ion-label >{{User.userFirstName}}</ion-label>
      <ion-label >{{User.userEmail}}</ion-label>
      <ion-label >{{User.userLastName}}</ion-label>
    </ion-item>
  </ion-list>
  </ion-card-content>
</ion-card>
</ion-content>
